* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-text-size-adjust: none;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 40vw;
  grid-auto-rows: auto;
}

.fullOnly{
  display: block;
}

.main{
  padding: 1rem;
  border: 1px solid #ccc;
}

.side {
  background-color: #333;
  color: white;
  padding: 1rem;
  border: 1px solid #ccc;
}

.fullWidth {
  width: 100vw;
}

.menu-item {
  margin-bottom: 15px;
}

.pr2 {
  margin-left: 10px;
}

.pr3 {
  margin-left: 20px;
}

.pr4 {
  margin-left: 30px;
}

.display {
  color: rgb(0, 162, 255);
}

.secretLabel{
  display: inline-block;
}

.boxLabel {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  white-space: normal;
  word-break: break-word;
}

.answerBox {
  width: 110px;
}

.correct {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  white-space: normal;
  word-break: break-word;
  margin-left: 10px;
  color: rgb(0, 255, 102);
}

.correctCheck {
  margin-left: 10px;
  height: 10px;
}

.score {
  margin-left: 10px;
}

.secret {
  display: none;
}